<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) MovieCast and it's contributors. All rights reserved.
  ~ Licensed under the MIT License. See LICENSE in the project root for license information.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.moviecast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MobileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/moviecast_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/moviecast_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieCast">

        <service android:name=".streamer.StreamerService" />

        <activity
            android:launchMode="singleTask"
            android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".activities.MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.MediaDetailActivity"
            android:theme="@style/Theme.MovieCast.TransparentStatusBar"
            android:parentActivityName=".activities.MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>